@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цены на услуги</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&family=Nobile&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section id="salonservice" class="salonservice">
        <div class="container">
            <h1>ЦЕНЫ НА УСЛУГИ СТОМАТОЛОГИИ «Dental<a>CARE»</a> </h1>
            <div class="Dental-treatment">
                <h2>
                    Лечение зубов
                </h2>
                <p class="Operation">
                    Операция
                </p>
                <p class="price">
                    Цена
                </p>
                <ul class="operation-name-treatment">
                    <li> Светоотверждаемые пломбы</li>
                    <li> Лечение каналов</li>
                    <li> Лечение каналов</li>
                </ul>
                <ul class="operation-price-treatment">
                    <li> от 3 600 руб.</li>
                    <li> от 3 600 руб.</li>
                    <li> 1 800 руб.</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>