@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DentalCARE</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&family=Nobile&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<main>
    <section class="information">
        <div class="container">
            <div class="information-box">
                <div class="information-box__left">
                    <p>Все кабинеты клиники оборудованы высококлассной диагностической и лечебной аппаратурой</p>
                </div>
                <div class="information-box__right">
                    <img class="information-box__img-1" src="img/img11.png" alt="">
                </div>
            </div>


            <div class="information-box--reverse">
                <div class="information-box__left">
                    <p>В поликлинике работает 1 доктор медицинских наук, 1 кандидат медицинских наук, 5 врачей с высшей категорией.</p>
                </div>
                <div class="information-box__right information-box__right--reverse">
                    <img class="information-box__img-1" src="img/img44.png" alt="">

                </div>
            </div>
        </div>
    </section>
    <section class="service">
        <div class="container">
            <p class="service-subtitle">СТОМАТОЛОГИЯ «Dental<span>CARE</span>» ОКАЗЫВАЕТ УСЛУГИ</p>
            <h3 class="service-title">Услуги</h3>
            <div class="service-container">
                <div class="service-container__left">
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/lehenie.svg" alt=""></div>
                        <div class="service-box__title">Лечение зубов</div>
                        <div class="service-box__descr">Комплексное обследование, лечение и коррекция зубов, безболезненное лечение корневых каналов и кариеса</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/implants.svg" alt=""></div>
                        <div class="service-box__title">Имплантация зубов</div>
                        <div class="service-box__descr">Замещение отсутствующих без обточки соседних зубов с помощью имплантатов</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/caries.svg" alt=""></div>
                        <div class="service-box__title">Протезирование</div>
                        <div class="service-box__descr">Восстановление зубов с помощью металлокерамики, коронок из циркония, керамических виниров, бюгельных протезов и иных протезов</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/bio.svg" alt=""></div>
                        <div class="service-box__title">Биоэстетика</div>
                        <div class="service-box__descr">Эстетическая реставрация зубов. Изменение цвета и формы с помощью современных технологий</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/gigiena.svg" alt=""></div>
                        <div class="service-box__title">Гигиена</div>
                        <div class="service-box__descr">Снятие зубных отложений, снятие налёта с зубов, удаление зубного камня, чистка зубов ультразвуком, фтор-профилактика и т.д</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/xuryrg.svg" alt=""></div>
                        <div class="service-box__title">Хирургия</div>
                        <div class="service-box__descr">Безболезненное удаление зубов, костная пластика, челюстно-лицевая хирургия, лазерная и пьезо хирургия</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/otbelivanie.svg" alt=""></div>
                        <div class="service-box__title">Отбеливание зубов</div>
                        <div class="service-box__descr">Щадящая для эмали процедура, осветляющая цвет зубов. Экспресс отбеливание.</div>
                    </div>
                    <div class="service-box">
                        <div class="service-box__img"><img src="img/ortodont.svg" alt=""></div>
                        <div class="service-box__title">Ортодонтия</div>
                        <div class="service-box__descr">Исправление прикуса с помощью эластичных прозрачных капп</div>
                    </div>
                </div>
                <div class="service-container__right">
                    <div class="service-container__img"><img src="img/sale.png" alt=""></div>
                    <p class="service-container__descr">В нашем учреждении предоставляется скидка <strong>20%</strong> на все виды платных услуг лицам  имеющим льготную категорию</p>

                </div>
            </div>
        </div>
    </section>
    <section class="plus">
        <div class="container">
            <p class="plus-subtitle">НАШИ ПРЕИМУЩЕСТВА</p>
            <h3 class="plus-title">Почему именно стоматология «DentalCARE»?</h3>
            <div class="plus-container">
                <p class="plus-container__info">
                    Стоматология «DentalCARE» практикует уникальную комплексную концепцию подхода к лечению, проводя по итогу консультации, проведенной с пациентом, и его полноценного обследования консилиум врачей стоматологов, в котором также принимают участие терапевты, хирурги и ортопеды, что позволяет составить наиболее подходящий и полноценный план лечения. Такой план составляется для каждого клиента индивидуально и является клинически обоснованной программой, в которой пациенту презентуется каждая позиция (разъяснение проводится в доступной и простой форме). После утверждения плана врач приступает к лечению и проведению необходимых процедур, используя только самое современное оборудование и материалы.
                    На все работы, выполненные в нашей клинике дается долгосрочная гарантия!
                </p>
                <div class="plus-container__btn">
                    <a asp-controller="Appointment" asp-action="Index">
                        Записаться на прием
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="contact-wrapper">
                <h3 class="contact-title">Наши контакты</h3>
                <ul class="contact-list">
                    <li class="contact-list__item" id="contact-list__item--geo">Новосибирск, улица Русская, дом 35, корпус 1</li>
                    <li class="contact-list__item" id="contact-list__item--tel">+7(495)602-08-02, +7(985)367-89-63</li>
                    <li class="contact-list__item" id="contact-list__item--email">dentalcare@mail.ru</li>
                    <li class="contact-list__item">
                        Пн-Пт: с 8:00 до 20:00
                        <br>Суббота: с 9:00 до 16:00
                        <br>Воскресенье: выходной
                    </li>
                    <li class="contact-list__item">С нами можно связаться в WhatsApp, Viber, Telegram, Skype или просто отправить СМС.</li>
                </ul>
            </div>
        </div>
    </section>
</main>