html{
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}
body{
  height: 100%;
  font-family: "Roboto";
  margin:0;
  overflow-x: hidden;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
*,*::before,*::after{
    box-sizing: inherit;
}
ul,li {
  list-style: none;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,p{
    margin:0;
    padding:0;
}
input {outline:none;}
a {
    text-decoration: none;
    color:white;
  }

#header{
    background: #D9D7D7;
    padding: 0 0 20px 0;
}
.container {
	max-width: 1200px;
	/*позиционирование по центру*/
	margin: 0 auto; 
    padding:0px 20px;
}

.header-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.logo {
    font-family: "Nobile";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
 
    
    display: flex;
    
}
.logo-img {
}
.logo-titile {
   align-self: flex-end;
}
.header-top__person {
   display: flex;
}
.header-top__img {
   
}
.header-top__title {
    align-self: flex-end;
}
.header-menu {
}
.header-menu__list {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:20px;
}
.header-menu__item{
    padding:15px 25px 15px 25px;
    border:1px solid  black;
    border-radius: 23px;
    transition: .4s all;
}
.header-menu__item:hover{
    border:1px solid  white;
}
.header-menu__item a{
    color:black;
}
.header-menu__burger.open-menu span {
	opacity:0; 
	transition: 0.5s; 
}
.header-menu__burger.open-menu:before {
	transform: rotate(38deg);
	top: 16px;
	transition: 0.4s;
}
.header-menu__burger.open-menu:after {
	transform: rotate(-38deg);
	bottom: 16px;
	transition: 0.4s;
}
.form {

}
.form-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-list {
    display: flex;
    flex-direction: column;
}
.form-list label{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
   
    
    margin-top: 10px;
}
.form-list__item{
    padding:10px 0px 10px 0px;
   
}
.form-list__item--btn {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
   
    
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background: #C4C4C4;
    max-width: 200px;
    padding:15px 0px 15px 0px;
}
#footer{
    background: #393838;
    padding:20px;
    margin-top: 50px;
   
}
.footer-title {
    text-align: center;
    color:white;
}
.footer-title span{
    color:#15A6A6;
}
.footer-descr {
    text-align: center;
    color:white;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    
    
}
.footer-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-container__item--contact{
    background-color: transparent;
    color:WHITE;
  font-size: 20px;
}
.footer-container__link + .footer-container__link{
    margin-top: 10px;
}
.footer-container__link a{
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


@media screen and (max-width:980px){
	.header-menu__burger {
		position: relative; 
		width: 40px; 
		height: 35px;
		display: block;
		margin-left: 10px;
		margin: 0 auto;
	}
	.header-menu__burger span, .header-menu__burger:after, .header-menu__burger:before{
		height: 3px;
		width: 100%;
		position: absolute;
		background: #515758;
		margin: 0 auto;
		
	}
	.header-menu__burger span{
		top: 16px;
	}
	.header-menu__burger:after, .header-menu__burger:before{
		content: '';
	}
	.header-menu__burger:after{
		bottom: 5px;
	}
	.header-menu__burger:before{
		top: 5px;
	}
	.header-menu__list{
		display: none;
	}
	.header-menu__item{
		margin-top: 20px;
	}
  
}
@media screen and (max-width:680px){

    .doctor-container{
        justify-content: center;
        flex-wrap: wrap;
    }
  
   
}
@media screen and (max-width:360px){
	.header-top{
		justify-content: center;
	}
	.header-top__person{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
}