@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/information.css">
</head>
 <body>
  <main class="main" id="main">
    <section class="about">
        <div class="container">
            <h1 class="about-title">История учреждения Dental<span>CARE</span></h1>
            <div class="about-container">
                <div class="about-left">
                    <div class="about-left__img"><img src="img/about.png" alt=""></div>
                    <div class="about-left__content">
                        <p>Клиника «DentalCARE» - одна из самых крупных и первых частных стоматологических клиник в г.Новосибирске. Впервые мы открыли свои двери в Июне 2007 года.</p>
                        <p>В нашей клинике все детали продуманы до мелочей. Уютный интерьер, мягкий свет, удобная мебель, телевизоры, свежая пресса, ароматный кофе – именно в такой обстановке пройдет ваше пребывание в нашей клинике. У нас вы найдете весь комплекс стоматологических услуг!</p>
                        <p>
                            Факты в цифрах о «DENTALCARE»: <br>
                            >14 лет на рынке стоматологических услуг;<br>
                            >9 000
                            успешных операций по имплантации;<br>
                            >6 000
                            установлено ортодонтических систем;<br>
                            >До 5 лет гарантия на личение;<br>
                            >20 лет гарантия на систему имплатнов.
                        </p>
                    </div>
                </div>
                <div class="about-right">
                    <div class="about-right__table">
                        <div class="about-right__table-item">
                            <p class="about-right__point">Полное наименование учреждения:</p>
                            <p class="about-right__name">Частное автономное учреждение здравоохранения города Новосибирск «Стоматологическая поликлиника DentalCARE»</p>
                        </div>
                        <div class="about-right__table-item">
                            <p class="about-right__point">Сокращенное наименование:</p>
                            <p class="about-right__name">ЧАУЗ «DentalCARE»</p>
                        </div>
                        <div class="about-right__table-item">
                            <p class="about-right__point">Главный врач:</p>
                            <p class="about-right__name">Теплухин Лев Александрович</p>
                        </div>
                        <div class="about-right__table-item">
                            <p class="about-right__point">Дата государственной регистрации юридического лица:</p>
                            <p class="about-right__name">Май 2007 года</p>
                        </div>
                        <div class="about-right__table-item">
                            <p class="about-right__point">Учредитель:</p>
                            <p class="about-right__name">
                                Департамент здравоохранения города Новосибирска

                                630011, г. Новосибирск, Красный пр-т, дом 18

                                Телефон: 8 (383) 238-63-63
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </main>
  </body>
</html>
